/* Customers */

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.customers-list-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  height: 90px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 30px;
  }
  &:hover,
  &:focus {
    border-radius: 4px;
    border: 1px solid $accent-color;
  }
}

.client-link-item {
  display: block;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .customers-list-logo:hover &,
  .customers-list-logo:focus & {
    fill: $accent-color;
  }
}
