.social-icon {
  display: block;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  background-color: $accent-color;
}

.social-icon:hover .team-social-link-item,
.social-icon:focus .team-social-link-item {
  fill: #fff;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 24px 32px;
}

.social-list-link .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: none;
}

.social-list .social-link:not(:last-child) {
  margin-right: 10px;
}
